body * {
  font-family: 'Lato';
}

body div.names-fill-container {
  padding: 1em 2em;
  padding-bottom: 3em;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

body div.names-fill-container p {
  font-size: 2.2em;
  font-weight: 600;
}

body div.names-fill-container input {
  font-family: 'Lato';
  border: none;
  appearance: none;
  outline: none;
  background-color: unset;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.2s;
}

body div.names-fill-container input:focus {
  border-color: black;
}

body div.names-fill-container button {
  border: none;
  border-radius: 20px;
  outline: none;
  appearance: none;
  font-size: 1.1em;
  font-weight: 600;
  width: 50%;
  padding: 0.3em;
  justify-self: center;
}

body p {
  font-size: 2.5em;
  font-weight: 500;
  color: lightcoral;
}

body div.board {
  background-color: lightcoral;
  gap: 1px;
}
