body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    background-color: beige;
    align-items: center;
    position: relative;

    & div.names-fill-container {
        background-color: lightblue;
        z-index: 10;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        gap: 1em;

        & input {
            width: 100%;
        }
    }
    
    & p {
        justify-self: center;
        
        & span {
            font-weight: 600;
        }
    }
    
}